/* .open.dropdown .dropdown-menu { display: block; transform: none; } */

/* .dropdown-menu {
    display: block;
    }

a {
    outline: 0;
    } */

/* .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);
} */


/* section {
    display: block !important;
} */
