<div [@routerTransition]>
    <app-page-header [heading]="'Daftar Warga'" [icon]="'fa-table'"></app-page-header>

    <button class="btn btn-outline-primary mr-2 pull-right" [routerLink]="['/warga', 0]">Buat Warga Baru</button>
    <form>
        <div class="form-group form-inline">
            Cari: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
            <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nik</th>
            <th scope="col" sortable="nama" (sort)="onSort($event)">Nama</th>
            <th scope="col" sortable="alamatTinggal" (sort)="onSort($event)">Alamat</th>
            <th scope="col" sortable="rt" (sort)="onSort($event)">RT</th>
            <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
            <!-- <th scope="col">Action</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let warga of wargas$ | async" (click)="onClick(warga.id)">
            <!-- <th scope="row">{{ warga.nik }}</th> -->
            <td>
                <ngb-highlight [result]="warga.nik" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="warga.nama" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="warga.alamatTinggal" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="warga.rt | number" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="warga.email" [term]="service.searchTerm"></ngb-highlight>
            </td>
            <!-- <td>
                <button type="button" class="btn btn-outline-primary mr-2 bi-alarm" [routerLink]="['/warga', warga.id]">Edit</button>
            </td> -->
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <!-- <option [ngValue]="6">6 items per page</option> -->
          </select>
        </div>

      </form>

</div>
